/**
 * 首页.css->page-home.php 
 * 
 * 2018.7.20
 * by fig
 * v1.0.0
 */
section.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section.home .carousel {
  width: 100%;
  height: 100vh;
}
section.home .carousel .img-box {
  width: 100%;
  height: 100vh;
  z-index: -1;
}
section.home .carousel .img-box div {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
section.home .carousel .img-box div img {
  width: 100%;
  height: 100%;
}
section.home .carousel .btn-box {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
section.home .carousel .btn-box .dot-box {
  position: absolute;
  bottom: 10%;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 8px 4px;
  border-radius: 50% 15%;
}
section.home .carousel .btn-box .dot-box:hover {
  background-color: rgba(0, 0, 0, 0.199);
}
section.home .carousel .btn-box .dot-box span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
}
section.home .carousel .btn-box .dot-box span.on::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.5px 0 0 -2.5px;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ccc;
}
section.home .carousel .btn-box .text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 30vh;
  margin-top: -15vh;
  text-align: center;
  color: #fefefe;
}
section.home .carousel .btn-box .text P {
  margin: 0;
}
section.home .carousel .btn-box .text .h0 {
  font-size: 64px;
  font-weight: 600;
  line-height: 2;
}
section.home .carousel .btn-box .text .h2 {
  font-size: 24px;
}
